<section id="contacto" class="seccion flex flex-col items-start gap-6 mt-32">
    <p class="text-4xl font-bold text-azulNeon mb-4">CONTACTO</p>
    
    <p class="text-xl text-white">¿Te interesa trabajar conmigo? ¡Escribeme!</p>
  
    <div class="flex gap-6">
      <a href="https://www.linkedin.com/in/santiago-rua-agudelo/" target="_blank" class="bg-white rounded-full p-3 flex items-center justify-center hover:shadow-lg hover:shadow-blue-400/70 transition duration-300">
        <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="w-10 h-10">
      </a>
      <a href="mailto:srua2005@gmail.com" target="_blank" class="bg-white rounded-full p-3 flex items-center justify-center hover:shadow-lg hover:shadow-blue-400/70 transition duration-300">
        <img src="assets/icons/correo.png" alt="Email" class="w-10 h-10">
      </a>
      <a href="https://w.app/vwb5xc" target="_blank" class="bg-white rounded-full p-3 flex items-center justify-center hover:shadow-lg hover:shadow-blue-400/70 transition duration-300">
        <img src="assets/icons/whatsapp.svg" alt="LinkedIn" class="w-10 h-10">
      </a>
    </div>

    <p class="text-4xl font-bold text-azulNeon mb-4">PAGINA REALIZADA CON</p>
    <div class="flex flex-wrap gap-3">
      <div class="flex items-center gap-2 bg-[#e34c26] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/html5.svg" alt="HTML5" class="w-4 h-4" />
        HTML5
      </div>
      
      <div class="flex items-center gap-2 bg-[#264de4] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/css3.svg" alt="CSS3" class="w-4 h-4" />
        CSS3
      </div>
      
      <div class="flex items-center gap-2 bg-[#f0db4f] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/javascript.svg" alt="JavaScript" class="w-4 h-4" />
        JavaScript
      </div>
    
      <div class="flex items-center gap-2 bg-[#ff5e5e] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/angular.svg" alt="ANGULAR" class="w-4 h-4" />
        ANGULAR
      </div>

      <div class="flex items-center gap-2 bg-[#a8feff] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/tailwind.svg" alt="TAILWIND" class="w-4 h-4" />
        TAILWIND
      </div>
    </div>
  </section>