<section id="about" class="seccion flex flex-col items-start justify-center text-left gap-8 -mt-[107px]">
    <p class="text-5xl font-extrabold text-blue-400 mb-10">SOBRE MI</p>
  
    <p class="max-w-3xl text-lg">
        Mis inicios en el vasto universo del desarrollo estuvieron marcados por pequeños proyectos, explorando cada rincón con curiosidad. Con la guía de tutores y el apoyo de amigos, mis creaciones fueron escalando en complejidad e interés, culminando en el desarrollo significativo de las aplicaciones StarRouting y SRA.
    </p>
  
    <p class="max-w-4xl text-lg font-bold text-azulNeon">
      ACTUALMENTE ESTUDIO Y BUSCO AMPLIAR MI CAMPO LABORAL EN EL MUNDO DEL DESARROLLO.
    </p>
  
    <p class="max-w-3xl text-lg">
      Si quieres ponerte en contacto conmigo escríbeme a
      <a href="mailto:srua2005@gmail.com" class="text-verdeNeon underline">srua2005&#64;gmail.com</a>
    </p>
</section>