<section id="about" class="seccion flex flex-col items-start justify-center text-left gap-8 -mt-[107px]">
    <p class="text-5xl font-extrabold text-blue-400 mb-10">SOBRE MI</p>
  
    <p class="max-w-3xl text-lg">
        Soy un desarrollador de software apasionado por transformar la curiosidad en soluciones tecnológicas robustas. Mis inicios construyendo pequeños proyectos evolucionaron rápidamente, permitiéndome liderar el desarrollo frontend desde cero en aplicaciones de alto impacto: desde sistemas de mensajería (StarRouting) y gestión académica (SRA), hasta chatbots interactivos y generadores de pruebas dinámicas.
        <br><br>
        Disfruto construyendo interfaces intuitivas y escalables con tecnologías como Angular, React y TypeScript, respaldándolas con bases sólidas en Node, Express y bases de datos SQL. Además, tengo un fuerte interés en el manejo de datos, explorando herramientas como Power BI, Python y pandas. Actualmente sigo formándome y busco nuevos retos laborales donde pueda aportar valor desde el primer día y seguir expandiendo mis habilidades.
    </p>
  
    <p class="max-w-4xl text-lg font-bold text-azulNeon">
      Actualmente estudio y busco ampliar mi campo laboral en el mundo del desarrollo.
    </p>
  
    <p class="max-w-3xl text-lg">
      Si quieres ponerte en contacto conmigo escríbeme a
      <a href="mailto:srua2005@gmail.com" class="text-verdeNeon underline">srua2005&#64;gmail.com</a>
    </p>
</section>