<main class="seccion flex items-left justify-start px-20 mt-32">
  <div>
    <p class="text-7xl font-bold">
      <span class="text-azulNeon">SANTIAGO</span> <span class="text-verdeNeon"> RUA</span>
    </p>
    <p class="mt-6 text-3xl tracking-wide">BIENVENIDO A MI PORTAFOLIO COMO DESARROLLADOR.</p>
    <p class="mt-4 text-lg">
      Si quieres ponerte en contacto escribeme a 
      <a href="mailto:srua2005@gmail.com" class="text-verdeNeon underline">srua2005&#64;gmail.com</a>
    </p>
    <button class="mt-8 bg-verdeNeon text-black px-8 py-3 rounded-lg hover:bg-verdeNeon transition" (click)="generatePDF()">
      Descarga mi CV
    </button>

    <div class="flex gap-6 mt-8">
      <a href="https://www.linkedin.com/in/santiago-rua-agudelo/" target="_blank" class="bg-white rounded-full p-3 flex items-center justify-center hover:shadow-lg hover:shadow-azulNeon transition duration-300"><img src="assets/icons/linkedin.svg" alt="LinkedIn" class="w-10 h-10"></a>
      <a href="https://github.com/SantiRuaA" target="_blank" class="bg-white rounded-full p-3 flex items-center justify-center hover:shadow-lg hover:shadow-azulNeon transition duration-300"><img src="assets/icons/github.gif" alt="GitHub" class="w-10 h-10"></a>
    </div>
  </div>
</main>

