<div class="flex h-screen">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Contenido principal -->
  <div id="main-content" class="flex-1 overflow-y-auto p-4">
    <section id="home" class="seccion scroll-smooth">
      <app-home></app-home>
    </section>
    <section id="about" class="seccion scroll-smooth">
      <app-about></app-about>
    </section>
    <section id="portfolio" class="seccion scroll-smooth">
      <app-portfolio></app-portfolio>
    </section>
    <section id="education" class="seccion scroll-smooth">
      <app-education></app-education>
    </section>
    <section id="skills" class="seccion scroll-smooth">
      <app-skills></app-skills>
    </section>
    <section id="contact" class="seccion scroll-smooth">
      <app-contact></app-contact>
    </section>
  </div>
</div>