<section id="skills" class="seccion flex flex-col items-start text-center mt-32">
  <p class="text-5xl font-extrabold text-azulNeon mb-10">SKILLS</p>
  <!-- Lenguajes -->
  <div class="text-white space-y-8 text-left">
    <P class="text-2xl font-bold text-grisMetal">LENGUAJES</P>
    <div class="flex flex-wrap gap-3">
      <div class="flex items-center gap-2 bg-[#e34c26] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/html5.svg" alt="HTML5" class="w-4 h-4" />
        HTML5
      </div>
      
      <div class="flex items-center gap-2 bg-[#264de4] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/css3.svg" alt="CSS3" class="w-4 h-4" />
        CSS3
      </div>
      
      <div class="flex items-center gap-2 bg-[#f0db4f] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/javascript.svg" alt="JavaScript" class="w-4 h-4" />
        JavaScript
      </div>
    
      <div class="flex items-center gap-2 bg-[#cc342d] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/python.svg" alt="Python" class="w-4 h-4" />
        Python
      </div>
    </div>
    <!-- Frameworks -->
    <P class="text-2xl font-bold text-grisMetal">FRAMEWORKS Y LIBRERIAS</P>
    <div class="flex flex-wrap gap-3">
      <div class="flex items-center gap-2 bg-[#a8feff] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/tailwind.svg" alt="TAILWIND" class="w-4 h-4" />
        TAILWIND
      </div>
      
      <div class="flex items-center gap-2 bg-[#ff5e5e] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/angular.svg" alt="ANGULAR" class="w-4 h-4" />
        ANGULAR
      </div>
      
      <div class="flex items-center gap-2 bg-[#f0db4f] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/express.png" alt="EXPRESS" class="w-4 h-4" />
        EXPRESS.JS
      </div>
    </div>
    <!-- Software y Herramientas -->
    <P class="text-2xl font-bold text-grisMetal">SOFTWARE Y HERRAMIENTAS</P>
    <div class="flex flex-wrap gap-3">
      <div class="flex items-center gap-2 bg-[#a8feff] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/visual.svg" alt="VISUAL" class="w-4 h-4" />
        VISUAL STUDIO CODE
      </div>
      
      <div class="flex items-center gap-2 bg-[#bec4fc] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/node.svg" alt="NODE" class="w-4 h-4" />
        NODE.JS
      </div>
      
      <div class="flex items-center gap-2 bg-[#ffdbaa] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/xampp.png" alt="XAMPP" class="w-4 h-4" />
        XAMPP
      </div>

      <div class="flex items-center gap-2 bg-[#ffff5a] text-black py-1 px-3 rounded-full text-sm">
        <img src="assets/icons/power.svg" alt="POWER" class="w-4 h-4" />
        POWER BI
      </div>
    </div>
  </div>
</section>
